* {
  margin: 0px;
  padding: 0px;
}

#c1 {
  width: 1280px;
  height: 720px;
  background: black;
  border: 1px hsl(0, 0%, 50%) solid;
  z-index: 0;
}

/* #c2 {
  position: relative;
  width: 1200px;
  height: 720px;
  top: -724px;
  background: none;
  z-index: 1;
} */
body {
  background: black;
  color: white;
  margin: 40px;
}

#main {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1280px;
  height: 720px;
  text-align: center;
}

#menu {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  text-align: center;
}
