*{
  margin: 0px;
  padding: 0px;
}

#c1 {
  width: 1200px;
  height: 720px;
  border: 4px solid black;
  background: white;
}
body{
  background: black;
  color: white;
  margin: 40px;
}
div{
  width: 800px;
  height: 650px;
  text-align: center;
}
